* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 400px;
    height: 300px;
    background: #FDFFE9;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 40px 1fr 40px;
    gap: 15px;
}

.header {
    grid-column: 1 / 3;
    background: #ADB274;
    position: relative;
}

.header::before,
.header::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #555A2A;
    top: 10px;
}

.header::before {
    left: 10px;
}

.header::after {
    right: 10px;
}

.sidebar {
    background: #ADB274;
}

.content {
    background: #ADB274;
}

.footer {
    height: 30px;
    grid-column: 1 / 3;
    background: #ADB274;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer::before {
    content: '';
    width: 60px;
    height: 20px;
    background: #555A2A;
    box-shadow: 25px 0 0 #555A2A, -25px 0 0 #555A2A;
    width: 20px;
}