*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  width: 400px;
  height: 300px;
  background: #1A4341;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.shape {
  width: 50px;
  height: 50px;
}

.s1, .s6 { background: #998235; border-radius: 50%; }
.s4, .s7 { background: #F3AC3C; border-radius: 50%; }

.s2 { background: #F3AC3C; border-radius: 25px 25px 0 0; }
.s3 { background: #998235; border-radius: 25px 25px 0 0; }

.s5 { background: #F3AC3C; border-radius: 0 0 25px 25px; }
.s8 { background: #998235; border-radius: 0 0 25px 25px; }