* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    padding: 20px;
}


#site-header {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #555;
}

nav a[target="_blank"] {
    font-weight: bold;
    color: #222;
}

.card {
    height: 150px;
    width: 280px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: 0.5s;
}

.card:hover {
    border-radius: 50px;
    color: white;
    background-color: #222;
    width: 500px;
    margin-left: 50px;
    text-align: center;
}

section h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 250px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: 0.2s;
}

input:hover {
    display: block;
    width: 250px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-radius: 10px;
    margin-left: 70px;
    background-color: #ccc;
}

button {
    padding: 8px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    transition: 1s;
    background-color: #333;
    width: 200px;
}

footer{
    margin-top: 20px;
    font-size: 0.9em;
    color: #888;
}