body {
    margin: 0;
    padding: 40px;
    background-color: #f0f0f0;
    display: block;
}

.shape-box {
    position: relative;
    width: 200px;
    aspect-ratio: 1 / 1;
    margin-bottom: 50px;
}

.arrow-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #28a745;
}

.arrow-shaft {
    position: absolute;
    top: 100px;
    left: 60px;
    width: 80px;
    height: 100px;
    background: #28a745;
}


.petal {
    position: absolute;
    background: #e31e24;
    border-radius: 50%;
}


.p-top {
    top: 7.5%;
    left: 40%;
    width: 20%;
    height: 45%;
}

.p-bottom {
    bottom: 7.5%;
    left: 40%;
    width: 20%;
    height: 45%;
}

.p-left {
    top: 40%;
    left: 7.5%;
    width: 45%;
    height: 20%;
}

.p-right {
    top: 40%;
    right: 7.5%;
    width: 45%;
    height: 20%;
}


.ring {
    position: absolute;
    width: 60%;
    height: 60%;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent;

}

.r-tl {
    top: 0;
    left: 0;
}

.r-tr {
    top: 0;
    right: 0;
}

.r-bl {
    bottom: 0;
    left: 0;
}

.r-br {
    bottom: 0;
    right: 0;
}

.square {
    position: absolute;
    width: 48%;
    height: 48%;
    box-sizing: border-box;
}

.sq-red {
    top: 0;
    left: 0;
    background: #e31e24;
}

.sq-green {
    top: 0;
    right: 0;
    background: #28a745;
}

.sq-blue {
    bottom: 0;
    left: 0;
    background: #00adef;
}

.sq-transparent {
    bottom: 0;
    right: 0;
    border: 6px solid black;
    background: transparent;
}

.yellow-circle {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border: 5px solid #fef200;
    border-radius: 50%;
    box-sizing: border-box;
}


.star-part {
    position: absolute;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    background: transparent;
}

.sp-tl {
    top: 0;
    left: 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0 0 100% 0;
}

.sp-tr {
    top: 0;
    right: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0 0 0 100%;
}

.sp-bl {
    bottom: 0;
    left: 0;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 0 100% 0 0;
}

.sp-br {
    bottom: 0;
    right: 0;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-radius: 100% 0 0 0;
}

.maze-rect {
    position: absolute;
    box-sizing: border-box;
}

.m-green {
    top: 0;
    left: 0;
    width: 65%;
    height: 35%;
    border: 4px solid #28a745;
}

.m-red {
    top: 0;
    right: 0;
    width: 35%;
    height: 65%;
    border: 4px solid #e31e24;
}

.m-blue {
    bottom: 0;
    right: 0;
    width: 65%;
    height: 35%;
    border: 4px solid #00adef;
}

.m-black {
    bottom: 0;
    left: 0;
    width: 35%;
    height: 65%;
    border: 4px solid black;
}

.m-yellow {
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    border: 4px solid #fef200;
}